In [63]:
import pandas as pd
import numpy as np
from helper import *

In [64]:
df = pd.read_excel('../data/src-data.xlsx')
df['Duration'] = df['Minutes']/60
df

                                                 Name  Minutes  Duration
0                                        Introduction        9  0.150000
1                                 Kubernetes Overview       22  0.366667
2                                    Setup Kubernetes       20  0.333333
3                                 Kubernetes Concepts       13  0.216667
4                                   YAML Introduction        8  0.133333
5   Kubernets Concepts - PODs, ReplicaSets, Deploy...      128  2.133333
6                            Networking in Kubernetes        5  0.083333
7                                            Services       24  0.400000
8                         Microservices Architechture       45  0.750000
9                             Kubernetes on the Cloud       26  0.433333
10                                         Conclusion        2  0.033333

In [65]:
#Helper Functions
def round_to_minimum_duration(df):
    df.loc[df['Duration'] < 0.5, ['Duration']] = 0.5
    return df

In [67]:
df

                                                 Name  Minutes  Duration
0                                        Introduction        9  0.500000
1                                 Kubernetes Overview       22  0.500000
2                                    Setup Kubernetes       20  0.500000
3                                 Kubernetes Concepts       13  0.500000
4                                   YAML Introduction        8  0.500000
5   Kubernets Concepts - PODs, ReplicaSets, Deploy...      128  2.133333
6                            Networking in Kubernetes        5  0.500000
7                                            Services       24  0.500000
8                         Microservices Architechture       45  0.750000
9                             Kubernetes on the Cloud       26  0.500000
10                                         Conclusion        2  0.500000